/* Style du conteneur du jeu */
.game-container {
  position: relative;
  width: 400px; /* Ajuste la taille selon tes besoins */
  height: 600px; /* Ajuste la taille selon tes besoins */
}

/* Style du chemin */
#path {
  position: absolute;
  top: 50px; /* Ajuste la position selon tes besoins */
  left: 50px; /* Ajuste la position selon tes besoins */
  width: 400px; /* Ajuste la taille selon tes besoins */
  height: 600px; /* Ajuste la taille selon tes besoins */
  border: 2px solid #f00; /* Couleur du chemin */
  rotate: 0deg; /* Rotation du chemin */
}

/* Style pour le canvas */
#canvas {
  border: 2px solid #000;
}

/* Style de la balle */
#ball {
  position: absolute;
  top: 0;
  left: 200px; /* Position initiale de la balle */
  width: 20px; /* Taille de la balle */
  height: 20px; /* Taille de la balle */
  border-radius: 50%; /* Pour rendre la balle ronde */
  background-color: #00f; /* Couleur de la balle */
}